.nav-wrap {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 50;
    display: none;
    &.navHide {
        display: flex;
    }
}
.btn-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    background: rgb(65, 65, 65);
    border: none;
    &:hover {
        background: gray;
        color: rgb(219, 219, 219);
    }
}
